 /* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.parallax {
    position: relative;
    height: 100vh;
    overflow: hidden;
    perspective: 1px;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
    z-index: 1;
}

.parallax__layer--base {
    transform: translateZ(0px) scale(1);
    z-index: 2;
}

.parallax img {
    width: 100%;
    height: auto;
    display: block;
}

header, main, footer {
    position: relative;
    z-index: 3;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background to highlight content */
}

.logo a {
    background-image: url("coffee.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
}

.text-box-button {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 50%; /* Make the buttons circular */
    overflow: hidden;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.text-box-button:hover {
    transform: scale(1.1); /* Scale the button up when hovered */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav .logo a {
    font-weight: bold;
    font-size: 24px;
}

main {
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}

.col {
    float: left;
    width: 33.33%;
}

.darkBG {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

/* Rounded background styles */
section {
    padding: 20px;
}

/* Rounded background styles */
.rounded-bg {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
/* Media Queries */
@media (max-width: 768px) {
    .col {
        width: 100%;
    }
}
